# General
.DS_Store
*~
cli.yaml

# VS Code
.vscode/*
.history/
.vscode

# VIM
*.swp

# Python
__pycache__

# Builds
mgc/cli/cli
mgc/cli/mgc
mgc/terraform-provider-mgc/terraform-provider-mgc
mgc/codegen/codegen
/build

# Documentation

# Terraform
*.tfstate*

# Go workspace
go.work.sum
dist
mgc/spec_manipulator/spec_manipulator
cli_specs/specs.go.tmp
mgc/cli/openapis/block-storage.openapi.yaml
mgc/spec_manipulator/specs

venv
/mgc/cli/default

cli-dump-tree.json
spec_stats_dump.yml
mgc/spec_manipulator/cli_specs/specs.go.tmp

.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d
**/__debug_bin**
