MGC_ENDPOINT=http://localhost:8080
MGC_API_KEY=00000000-0000-4000-8000-000000000000
MGC_REGION=br-ne1

MGC_VCR_PATH=~/mgc/cassettes

MGC_CASSETTE_KEY_PAIR_ID=<object-storage access key id>
MGC_CASSETTE_KEY_PAIR_SECRET=<object-storage secret>

MGC_CASSETTE_BUCKET=terraform-vcr
MGC_CASSETTE_ENDPOINT=https://br-ne1.magaluobjects.com